.wrapper{
    width: 90%;
    margin: 0 auto;
}
.box{
    background-color: #006cfa;
    height:100px;
    color: white;
    text-align: center;
    border: 1px solid white;
}
.box p{
    line-height: 100px;
}
.nested-box{
    align-self: center;
    background-color: yellowgreen;
    height: 80px;
    border: 1px solid white;

}
.nested-box p{
    line-height: 80px;
}